main {
    margin-left: 400px;
    background-color: #e4e5f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    height: 100%;
    border-left: 3px dashed #484b6a;
}

h1 {
    
    font-size: 64px;
    color: #484b6a;
    color: rgba(72,75,106, 0.2);
    width: 300px;
    height: 64px;
    margin: auto;
    transform: translateY(-50px);
}

section[data-content-id] {
    display: none;
    height: 100%;
    min-height: 100vh;
    /* overflow-y: scroll; */
    width: calc(100% - 2em);
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
   
}

section[data-content-id]::-webkit-scrollbar {
    display: none;
}

main .active-tab {
    display: flex;
}




/* Ниже редактирую классы для стилизации лаб */

fieldset {
    border: none;
    width: calc(100% - 2em);
    height: fit-content;
    height: -moz-fit-content;
    margin-inline: auto;
    margin-bottom: 75px;
}

legend {
    font-size: 36px;
    color: #484b6a;
    padding-left: 2rem;
}

.laboratory__img {
    max-width: 600px;
    max-height: 600px;
    /* position: relative; */
}

.laboratory__img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: fit-content;
    max-width: 600px;
    max-height: 600px;
    gap: 100px;
    padding-top: 30px;
    margin-bottom: 50px;
    height: fit-content;
}

.download-link {
    max-width: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
    z-index: 2;

}

.laboratory__img:hover .download-link  {
    opacity: 1;
    cursor: pointer;
}

.laboratory__content {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.link-container {
    position: absolute;
    bottom: -40px;
}

.laboratory__download {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    background: transparent;
    padding: 10px 20px;
    border: none;
    position: relative;
    z-index: 3;
    transition: color .3s;
    /* border: 1px solid #000; */
}

.laboratory__download::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 0;
    transition: all .3s;
    background-color: #000;
    border-radius: 20% 20% ;
}

body main .laboratory__download:hover {
    color: rgba(255, 255, 255, 0.55);
    text-shadow: 0 0 2px #fff;
}

.laboratory__download:hover::before {
    height: 100%;
    border-radius: 0%;

}

.img-wrap {
    max-width: 600px;
    max-height: 600px;
}
